<h2 class="text-center">Patients at Risk of Missing Appointments</h2>

<div class="container">
	<% @patients.each do |patient| %>
		<div class="row patient-row">
			<div class="col-md-5">
				<div class="patient-name"><%= patient.name %></div>
				<div class="patient-dob">
					<%= patient.dob.to_formatted_s(:rfc822) %>
				</div>
				<div class="patient-tel">
					<span class="glyphicon glyphicon glyphicon-earphone" aria-hidden="true"></span>
					<%= patient.tel %>
				</div>
			</div>
			<div class="col-md-5">
				<span class="label label-danger">At risk</span>
				<div class="patient-reason"><%= patient.reason %></div>
			</div>


			<div class="col-md-2">
				<div class="btn-group">
				  <button type="button" class="btn btn-warning">Action</button>
				  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="#">Action</a></li>
				    <li><a href="#">Send patient SMS</a></li>
				    <li><a href="#">Reschedule appointment</a></li>
				    <li><a href="#">Cancel appointment</a></li>
				  </ul>
				</div>
			</div>

		</div>
	<% end %>
</div>