<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @patient.tel %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @patient.distance %>
</p>

<p>
  <strong>Absentee:</strong>
  <%= @patient.absentee %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
