// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.patient-row {
	background-color:white;
	padding:5px;
	border-radius: 6px;
	margin-bottom: 8px;
}

.patient-name{
	font-weight: bold;
	font-size: 1.1em;
}

.patient-dob {
	
}

.patient-tel {
	
}